.header{
    color: #ff4702;
    height: 10rem;
    padding: 1rem;
    width: 100%;
}

#title{
    font-size: 2.5rem;
}

#logo{
    width: 11rem;
    height: auto;
}

table{
    padding: 1rem;
}

.footer{
    position: fixed;
    bottom: 0;
    width: 100%;
}

#support{
    background-color: #ff4702;
    outline: #ff4702;
}

@media (min-width: 576px) { 
    .header{
        color: #4e1a07;
        height: 3rem;
        padding: 0.3rem;
        width: 100%;
    }
    #tab-cont{
        width: fit-content;
        height: auto;
    }
}


@media (min-width: 768px) {

}


@media (min-width: 992px) {

}


@media (min-width: 1200px) {

}


@media (min-width: 1400px) {

}